$breakpoint-sm: 488px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$color-main: #060b35;
$color-secondary: #616070;
$color-white: #fff;
$color-blue-accent: #00acdc;
$color-card-text-hover: #34568b;
$border-card-white: 1px solid #f3f3f3;
$transition-time: 300ms;
$link-item-height: 60px;
$card-width: 200px;
